.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#image1 {
    filter: grayscale(100);
}

#image2 {
    filter: blur(5px);
    transition: 0.5s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter: brightness(2);
    transition: 1s;
}

#image3:hover {
    filter: unset;
}

@keyframes color-rotate {
    0%{
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#image4 {
    animation: color-rotate 5s;
    animation-iteration-count: infinite;
}

#div1 {
    color: rgb(73, 2, 2);
    width: 200px;
    height: 200px;
    filter: blur(4px);
}

#div2 {
    font-size: 60px;
    filter: drop-shadow(10px 1px 2px red);
}